IntegrationArtifact/test1/src/main/resources/xsd/employee_output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="title"/>
        <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="firstname" minOccurs="0"/>
              <xs:element type="xs:string" name="lastname" minOccurs="0"/>
              <xs:element type="xs:string" name="division" minOccurs="0"/>
              <xs:element type="xs:short" name="building" minOccurs="0"/>
              <xs:element type="xs:byte" name="room" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>